@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 90vh;
    height: 100%;
    background-color: #ffda63;
    font-family: 'Poppins', sans-serif;
    padding: 50px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* !Loader */
.loader {
    width: 60px;
    height: 60px;
    border: 5px solid transparent;
    border-top-color: #080818;
    border-bottom-color: #080818;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: loader 1s infinite;
    -webkit-animation: loader 1s infinite;
    display: none;
}

@keyframes loader {
    from {
        transform: rotate(0turn);
        -webkit-transform: rotate(0turn);
        -moz-transform: rotate(0turn);
        -ms-transform: rotate(0turn);
        -o-transform: rotate(0turn);
}
    to {
        transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
    }

}

@media screen and (max-width: 400px)  {
    .loader {
        width: 40px;
        height: 40px;
    }
}
/* *{border: 1px solid blue;} */
/* !Form Section */
.box-form {
    position: relative;
    display: none;
    max-width: 780px;
    width: 100%;
    height: 420px;
    background-color: #fff;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    overflow: hidden;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.box-form.show {
    display: grid;
}

.box-form .col-2 {
    min-width: 300px;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.motivation .quote {
    width: 50px;
    height: 50px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.motivation .quote-text {
    height: 40%;
    font-size: 19px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 60px;
}

.motivation .people {
    width: 100%;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.motivation .name-quote-people {
    font-size: 18px;
    font-weight: 600;
    line-height: 0;
    margin-bottom: 8px;
}

.motivation .title-quote-people {
    font-size: 14px;
    color: rgba(0, 0, 0, .7);
    font-style: italic;
    margin-bottom: 5px;
}

.motivation .image-quote-people {
    width: 80px;
    height: 80px;
    filter: grayscale(1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-filter: grayscale(1);
}

.box-form .input {
    background: crimson;
}

.input h1 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 60px;
}

.input label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}

.input label span {
    order: -1;
    color: #fff;
    font-size: 16px;
    opacity: .7;
    margin-bottom: 6px;
    transform: translateY(28px);
    -webkit-transform: translateY(28px);
    -moz-transform: translateY(28px);
    -ms-transform: translateY(28px);
    -o-transform: translateY(28px);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.input label input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-bottom: 6px;
    font-size: 15px;
    opacity: .7;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.input label input:focus,
.input label input:focus ~ span,
.input label input:valid,
.input label input:valid ~ span {
    opacity: 1;
}

.input label input:focus ~ span,
.input label input:valid ~ span {
    transform: translate(-6px, 0) scale(0.8);
    -webkit-transform: translate(-6px, 0) scale(0.8);
    -moz-transform: translate(-6px, 0) scale(0.8);
    -ms-transform: translate(-6px, 0) scale(0.8);
    -o-transform: translate(-6px, 0) scale(0.8);
}

.input .button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.button .btn {
    outline: none;
    padding: 7px 28px;
    cursor: pointer;
    font-size: 14px;
    color: #080808;
    font-weight: 600;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.button .btn:hover {
    background: transparent;
    color: #fff;
}

/* !pop up rule */
.pop-up {
    pointer-events: none;
    width: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.pop-up.show {
    display: flex;
    pointer-events: auto;
}

.pop-up .pop-up-box {
    z-index: 99;
    max-width: 480px;
    width: 100%;
    padding: 25px;
    text-align: center;
    background: #fff;
    border: 5px solid crimson;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.pop-up.show .pop-up-box {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.pop-up-box h1 {
    font-size: 30px;
    margin-bottom: 7px;
}

.pop-up-box p {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 25px;
    color: #080808;
}

.pop-up-box .ok {
    display: block;
    padding: 7px 35px;
    font-size: 14px;
    color: #efefef;
    background: #080808;
    font-weight: 600;
    margin: auto;
    cursor: pointer;
    outline: none;
    border: 2px solid #080808;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.pop-up-box .ok:hover {
    background: transparent;
    color: #080808;
}

/* !section pertanyaan */
section {
    display: none;
    max-width: 600px;
    width: 100%;
    padding: 40px;
    background: #fff;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

section.show {
    display: block;
}

section .header-question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-question .col-2 h3 {
    display: inline-block;
    font-size: 22px;
    color: #080808;
}

.header-question .col-2 p {
    font-size: 18px;
    color: #080808;
    font-weight: 600;
    font-style: italic;
    opacity: .5;
}

section .bar-question {
    width: 100%;
    height: 8px;
    background-color: #dfdfdf;
    margin-bottom: 30px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.bar-question .bar {
    height: 100%;
    background: crimson;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

section .main-question {
    font-family: 'Ubuntu';
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.main-question .question {
    font-size: 26px;
    font-weight: 600;
    line-height: 35px;
    color: #080818;
    margin-bottom: 25px;
    letter-spacing: -1px;
}

.main-question .choices-answer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 18px;
}

input[type="radio"] {
    display: none;
}

.choices-answer .answer {
    position: relative;
}

.answer .choiceText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.choiceText span {
    font-size: 18px;
    font-weight: 500;
    color: #080838;
    position: relative;
}

.answer .bullet-check {
    width: 18px;
    height: 18px;
    border: 1px solid;
    border-color: #080808;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    order: -1;
    margin-right: 10px;
    position: relative;
}

.answer .bullet-check::after {
    content: '';
    width: 13px;
    height: 13px;
    background: crimson;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#choice0:checked ~ .check-0,
#choice1:checked ~ .check-1,
#choice2:checked ~ .check-2,
#choice3:checked ~ .check-3 {
    border-color: crimson;
    box-shadow: 0 0 5px rgba(219, 20, 60);
}

#choice0:checked ~ .check-0::after,
#choice1:checked ~ .check-1::after,
#choice2:checked ~ .check-2::after,
#choice3:checked ~ .check-3::after {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
}

section .footer-question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-question .next-btn {
    outline: none;
    padding: 6px 25px;
    background-color: #080818;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.footer-question .next-btn:hover {
    background-color: #080808;
}

.box-done {
   display: none;
    width: 480px;
    padding: 30px;
    overflow: hidden;
    background: #fff;
    border: 5px solid crimson;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.box-done.show {
    display: block;
}

.box-done .inside {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inside img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.inside h2 {
    font-size: 22px;
    color: #080808;
    margin-bottom: 30px;
}

.inside .done {
    outline: none;
    padding: 7px 27px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    background-color: #28a745;
    border: 3px solid #28a745;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}


.inside .done:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
}

.box-score {
    display: none;
    max-width: 600px;
    width: 100%;
    background: crimson;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    border: 1px solid #080808;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.box-score.show {
    display: flex;
}

.box-score [class*="box-"] {
    width: 100%;
    text-align: center;
}

.box-score .box-profile {
    margin-bottom: 40px;
}

.box-profile .name {
    font-size: 25px;
    color: #fff;
}

.box-profile .school {
    font-size: 18px;
    color: #efefef;
}

.box-grade .grade {
    font-size: 35px;
    color: #fff;
}

.box-grade .support {
    font-size: 20px;
    color: #efefef;
    font-style: italic;
}

.validate {
    display: none;
    width: 360px;
    padding: 50px;
    background: #fff;
    border: 3px solid crimson;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, .5);
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.validate.show {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.validate p {
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
}

.validate .close {
    width: 25px;
    position: absolute;
    top: 14px;
    right: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 9999;
}

.close .line {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.close .line:first-child {
    transform: translate(5px, 0px) rotate(45deg);
    -webkit-transform: translate(5px, 0px) rotate(45deg);
    -moz-transform: translate(5px, 0px) rotate(45deg);
    -ms-transform: translate(5px, 0px) rotate(45deg);
    -o-transform: translate(5px, 0px) rotate(45deg);
}

.close .line:last-child {
    transform: translate(5px, -4px) rotate(-45deg);
    -webkit-transform: translate(5px, -4px) rotate(-45deg);
    -moz-transform: translate(5px, -4px) rotate(-45deg);
    -ms-transform: translate(5px, -4px) rotate(-45deg);
    -o-transform: translate(5px, -4px) rotate(-45deg);
}

/* !responsive break points */
@media screen and (max-width: 768px) {
    .loader {
        width: 45px;
        height: 45px;
    }

    .box-form {
        /* max-width: 400px; */
        height: 100%;
    }

    .box-form .input {
        order: -1;
    }

}

@media screen and (max-width: 400px) {
    .motivation .quote-text {
        font-size: 16px;
        line-height: 24px;
    }

    .motivation .quote {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }

    .motivation .name-quote-people {
        font-size: 15px;
    }

    .motivation .title-quote-people {
        font-size: 12px;
    }

    .motivation .image-quote-people {
        width: 70px;
        height: 70px;
    }

    .input h1 {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .input label span {
        font-size: 14px;
    }

    .input label input {
        font-size: 14px;
    }

    .input label input:focus ~ span,
    .input label input:valid ~ span {
    transform: translate(-5px, 0) scale(0.8);
    -webkit-transform: translate(-5px, 0) scale(0.8);
    -moz-transform: translate(-5px, 0) scale(0.8);
    -ms-transform: translate(-5px, 0) scale(0.8);
    -o-transform: translate(-5px, 0) scale(0.8);
    }

    .input .button {
        margin-top: 25px;
    }

    .button .btn {
        font-size: 12px;
        padding: 5px 20px;
    }

    .pop-up .pop-up-box {
        padding: 15px;
        border: 3px solid crimson;
    }

    .pop-up-box h1 {
        font-size: 22px;
    }

    .pop-up-box p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .pop-up-box .ok {
        font-size: 12px;
        padding: 4px 25px;
    }

    section {
        padding: 20px;
    }

    .header-question .col-2 h3 {
        font-size: 18px;
    }

    .header-question .col-2 p {
        font-size: 16px;
    }

    .main-question .question {
        font-size: 22px;
        line-height: 30px;
    }

    .choiceText span {
        font-size: 16px;
    }

    .box-done {
        padding: 15px;
        border: 3px solid crimson;
    }

    .inside img {
        width: 35px;
        height: 35px;
    }

    .inside h2 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .inside .done {
        padding: 5px 20px;
        font-size: 12px;
    }

    .box-score {
        padding: 15px;
    }

    .box-score .box-profile {
        margin-bottom: 20px;
    }

    .box-profile .name {
        font-size: 22px;
    }

    .box-profile .school {
        font-size: 16px
    }

    .box-grade .grade {
        font-size: 30px;
    }

    .box-grade .support {
        font-size: 16px;
    }

    .validate p {
        font-size: 18px;
    }

    .validate {
        padding: 20px;
    }

    .validate .close {
        width: 20px;
    }

    .close .line {
        height: 3px;
    }
}
