@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffda63;
    font-family: 'Poppins', sans-serif;
}

/* !Loader */
.loader {
    width: 60px;
    height: 60px;
    border: 5px solid transparent;
    border-top-color: #080818;
    border-bottom-color: #080818;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: loader 1s infinite;
    -webkit-animation: loader 1s infinite;
    display: none;
}

@keyframes loader {
    from {
        transform: translate(-50%, -50%) rotate(0turn);
        -webkit-transform: translate(-50%, -50%) rotate(0turn);
        -moz-transform: translate(-50%, -50%) rotate(0turn);
        -ms-transform: translate(-50%, -50%) rotate(0turn);
        -o-transform: translate(-50%, -50%) rotate(0turn);
    }
    to {
        transform: translate(-50%, -50%) rotate(1turn);
        -webkit-transform: translate(-50%, -50%) rotate(1turn);
        -moz-transform: translate(-50%, -50%) rotate(1turn);
        -ms-transform: translate(-50%, -50%) rotate(1turn);
        -o-transform: translate(-50%, -50%) rotate(1turn);
    }

}

@media screen and (max-width: 400px)  {
    .loader {
        width: 40px;
        height: 40px;
    }
}

/* !Form Section */
.box-form {
    opacity: 0;
    pointer-events: none;
    max-width: 780px;
    width: 100%;
    height: 420px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    overflow: hidden;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.box-form.show {
    opacity: 1;
    pointer-events: auto;
}

.box-form .col-2 {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.motivation .quote {
    width: 50px;
    height: 50px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.motivation .quote-text {
    height: 40%;
    font-size: 19px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 60px;
}

.motivation .people {
    width: 100%;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.motivation .name-quote-people {
    font-size: 18px;
    font-weight: 600;
    line-height: 0;
    margin-bottom: 8px;
}

.motivation .title-quote-people {
    font-size: 14px;
    color: rgba(0, 0, 0, .7);
    font-style: italic;
    margin-bottom: 5px;
}

.motivation .image-quote-people {
    width: 80px;
    height: 80px;
    filter: grayscale(1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-filter: grayscale(1);
}

.box-form .input {
    background: crimson;
}

.input h1 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 60px;
}

.input label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}

.input label span {
    order: -1;
    color: #fff;
    font-size: 16px;
    opacity: .7;
    margin-bottom: 6px;
    transform: translateY(28px);
    -webkit-transform: translateY(28px);
    -moz-transform: translateY(28px);
    -ms-transform: translateY(28px);
    -o-transform: translateY(28px);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.input label input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-bottom: 6px;
    font-size: 15px;
    opacity: .7;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.input label input:focus,
.input label input:focus ~ span,
.input label input:valid,
.input label input:valid ~ span {
    opacity: 1;
}

.input label input:focus ~ span,
.input label input:valid ~ span {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.input .button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.button .btn {
    outline: none;
    padding: 7px 28px;
    cursor: pointer;
    font-size: 14px;
    color: #080808;
    font-weight: 600;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.button .btn:hover {
    background: transparent;
    color: #fff;
}

/* !pop up rule */
.pop-up {
    pointer-events: none;
    width: 100;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
}

.pop-up.show {
    display: flex;
    pointer-events: auto;
}

.pop-up .pop-up-box {
    z-index: 99;
    width: 480px;
    padding: 25px;
    text-align: center;
    background: #fff;
    border: 5px solid crimson;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.pop-up.show .pop-up-box {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.pop-up-box h1 {
    font-size: 30px;
    margin-bottom: 7px;
}

.pop-up-box p {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 25px;
    color: #080808;
}

.pop-up-box .ok {
    display: block;
    padding: 7px 35px;
    font-size: 14px;
    color: #efefef;
    background: #080808;
    font-weight: 600;
    margin: auto;
    cursor: pointer;
    outline: none;
    border: 2px solid #080808;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.pop-up-box .ok:hover {
    background: transparent;
    color: #080808;
}

/* !section pertanyaan */
section {
    max-width: 600px;
    padding: 40px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

section .header-question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-question .col-2 h3 {
    display: inline-block;
    font-size: 22px;
    color: #080808;
}

.header-question .col-2 p {
    font-size: 18px;
    color: #080808;
    font-weight: 600;
    font-style: italic;
    opacity: .5;
}

section .bar-question {
    width: 100%;
    height: 8px;
    background-color: #dfdfdf;
    margin-bottom: 30px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.bar-question .bar {
    width: 10%;
    height: 100%;
    background: crimson;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

section .main-question {
    font-family: 'Ubuntu';
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.main-question .question {
    font-size: 26px;
    font-weight: 600;
    line-height: 35px;
    color: #080818;
    margin-bottom: 25px;
    letter-spacing: -1px;
}

.main-question .choices-answer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 18px;
}

input[type="radio"] {
    display: none;
}

.choices-answer .answer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.answer .choiceText {
    font-size: 18px;
    font-weight: 500;
    color: #080838;
    position: relative;
}

.answer .bullet-check {
    width: 18px;
    height: 18px;
    border: 1px solid;
    border-color: #080808;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    order: -1;
    margin-right: 10px;
    position: relative;
}

.answer .bullet-check::after {
    content: '';
    width: 13px;
    height: 13px;
    background: crimson;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    -moz-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

#choice0:checked ~ .check-0,
#choice1:checked ~ .check-1,
#choice2:checked ~ .check-2,
#choice3:checked ~ .check-3 {
    border-color: crimson;
    box-shadow: 0 0 5px rgba(219, 20, 60);
}

#choice0:checked ~ .check-0::after,
#choice1:checked ~ .check-1::after,
#choice2:checked ~ .check-2::after,
#choice3:checked ~ .check-3::after {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
}

section .footer-question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-question .next-btn {
    outline: none;
    padding: 6px 25px;
    background-color: #080818;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.footer-question .next-btn:hover {
    background-color: #080808;
}